*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  margin: 0;
}

html {
  box-sizing: border-box;
}

body {
  position: relative;
  min-width: 960px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000;

  background-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.title {
  margin: 0;
  margin-bottom: 26px;

  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #000;
  text-transform: uppercase;
}

.paragraph {
  margin: 13px 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000;
}

/** Шапка **/
.main-head {
  margin-bottom: 60px;

  color: #32425c;
  background-color: #f4f7f9;
}

.inner-page .main-head {
  margin-bottom: 18px;
}

/* Верх шапки */
.main-head-top {
  margin-bottom: 48px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #fff;

  background-color: #293449;
}

/* Логотип */
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 42px;

  color: #fff;

  background-color: #ee3643;
  box-shadow: 0 5px #b52933;
  outline: none;
}

.logo[href]:hover,
.logo[href]:focus {
  background-color: #ca2c37;
  box-shadow: 0 5px #9a212a;
}

.logo[href]:active {
  background-color: #ba2732;
  box-shadow: 0 5px #8e1e26;
}

.logo-img {
  width: 109px;
  height: 19px;
}

/* Поиск */
.search {
  position: relative;
  width: 270px;
}

.search-input {
  width: 100%;
  height: 42px;
  padding: 0;
  padding-left: 49px;
  padding-right: 17px;

  font: inherit;

  color: #fff;
  background-color: #293449;

  border: none;
  outline: none;
}

.search-input:hover,
.search-box:hover .search-input {
  background-color: #212a3a;
}

.search-input:active {
  background-color: #293449;
}

.search-input:focus,
.search-box:hover .search-input:focus {
  color: #000;
  background-color: #fff;
}

.search-input::-webkit-input-placeholder {
  color: #fff;
}

.search-input:-ms-input-placeholder {
  color: #fff;
}

.search-input::-ms-input-placeholder {
  color: #fff;
}

.search-input::placeholder {
  color: #fff;
  opacity: 1;
}

.search-input:focus::-webkit-input-placeholder {
  color: #000;
}

.search-input:focus:-ms-input-placeholder {
  color: #000;
}

.search-input:focus::-ms-input-placeholder {
  color: #000;
}

.search-input:focus::placeholder {
  color: #000;
  opacity: 1;
}

.search-img {
  position: absolute;
  top: 12px;
  left: 17px;
}

.search-img path {
  fill: rgba(255, 255, 255, .3);
}

.search-box:hover > .search-img path {
  fill: #fff;
}

.search-input:focus + .search-img path {
  fill: #ee3643;
}

/* Ссылки действий с заказом */
.order-counter {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.order-counter-item {
  width: 150px;
}

.order-counter-link {
  position: relative;

  display: block;
  padding: 12px 0;
  color: #fff;

  outline: none;
}

.order-counter-link:hover,
.order-counter-link:focus {
  background-color: #212a3a;
}

.order-counter-link:active {
  background-color: #161d29;
}

.order-counter-link.notempty {
  background-color: #ee3643;
}

.order-counter-link.notempty:hover,
.order-counter-link.notempty:focus {
  background-color: rgba(238, 54, 67, .8);
}

.order-counter-link.notempty:active {
  background-color: rgba(238, 54, 67, .6);
}

.order-counter-link.bookmarks {
  padding-left: 44px;
}

.order-counter-link.cart {
  padding-left: 50px;
}

.order-counter-link.order {
  padding-left: 20px;
  padding-right: 22px;

  background-color: #63a63e;
}

.order-counter-link.order:hover,
.order-counter-link.order:focus {
  background-color: #5fbb2d;
}

.order-counter-link.order:active {
  color: rgba(255, 255, 255, .5);
  background-color: #518534;
}

.order-counter-link.bookmarks::before,
.order-counter-link.cart::before {
  position: absolute;
  top: 12px;

  background-repeat: no-repeat;

  opacity: .3;
  content: "";
}

.order-counter-link.bookmarks::before {
  left: 17px;

  width: 14px;
  height: 16px;

  background-image: url("../img/icon-bookmark.svg");
}

.order-counter-link.cart::before {
  left: 18px;

  width: 15px;
  height: 15px;

  background-image: url("../img/icon-cart.svg");
}

.order-counter-link.bookmarks:hover::before,
.order-counter-link.cart:hover::before,
.order-counter-link.bookmarks:focus::before,
.order-counter-link.cart:focus::before {
  opacity: 1;
}

.order-counter-link.bookmarks:active::before,
.order-counter-link.cart:active::before {
  opacity: .5;
}

/** Центр шапки **/
.main-head-middle {
  margin-bottom: 40px;
}

/* Слоган */
.main-head-middle .slogan {
  width: 300px;
  margin: 0;
  margin-right: 20px;
  padding-left: 53px;
  padding-right: 50px;

  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  font-style: italic;
  color: #ee3643;
}

/* Контакты */
.main-head-middle .contact {
  width: 270px;
  font-style: normal;
}

.main-head-middle .contact-phone,
.main-head-middle .contact-address {
  margin: 0;
}

.main-head-middle .contact-phone {
  position: relative;

  margin-bottom: 3px;
  padding-top: 8px;
  padding-left: 70px;
  padding-right: 49px;
  padding-bottom: 9px;

  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
  color: #e9292a;

  border: 3px solid #fff;
}

.main-head-middle .contact-phone::before {
  position: absolute;
  top: 8px;
  left: 12px;

  width: 19px;
  height: 19px;

  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;

  content: "";
}

.main-head-middle .contact-address {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #32425c;
  text-align: center;
}

.profile {
  max-width: 300px;
  margin: 0;
  margin-left: auto;
  padding: 0;

  list-style: none;
}

.profile-item {
  display: flex;
  flex-wrap: wrap;
}

.profile-item-top {
  margin-bottom: 8px;
}

.profile-item-bottom {}

.profile-link {
  position: relative;
  outline: none;
}

.profile-item-top .profile-link {
  margin-right: 10px;
  padding: 11px 25px;

  font-size: 21px;
  line-height: 21px;
  color: #000;
  
  background-color: #fff;
}

.profile-item-top .profile-link:hover,
.profile-item-top .profile-link:focus {
  color: #ee3643;
}

.profile-item-top .profile-link:active {
  color: #c5c5c5;
}

.profile-item-in .profile-link {
  margin-right: 0;
}

.profile-item-top .profile-link-logout {
  padding: 13px 10px 0;
}

.profile-link:hover path,
.profile-link:hover polygon,
.profile-link:focus path,
.profile-link:focus polygon {
  fill: #32425c;
}

.profile-link:active path,
.profile-link:active polygon {
  fill: #c5c5c5;
}

.profile-item-bottom .profile-link {
  position: relative;

  margin-right: 33px;

  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.profile-item-bottom .profile-link:hover,
.profile-item-bottom .profile-link:focus {
  color: #ee3643;
}

.profile-item-bottom .profile-link:active {
  color: rgba(50, 66, 92, .3);
}

.profile-item-bottom .profile-link:first-child {
  margin-left: 18px;
}

.profile-item-bottom .profile-link:last-child {
  margin-right: 0;
}

.profile-item-bottom .profile-link::before {
  position: absolute;
  top: 7px;
  right: -20px;

  width: 4px;
  height: 5px;

  background-color: #32425c;
  border-radius: 50%;

  content: "";
}

.profile-item-bottom .profile-link:last-child::before {
  background-color: transparent;
}

.profile-link.icon {
  padding-left: 48px;
}

.profile-link:last-child {
  margin-right: 0;
}

.profile-link .icon-login {
  position: absolute;
  top: 12px;
  left: 16px;
}

/* Низ шапки */
.main-head-bottom {
  padding-bottom: 60px;
}

/* Навигация */
.main-nav {
  display: flex;
  flex-wrap: wrap;

  padding-left: 24px;
  padding-right: 20px;

  color: #fff;

  background-color: #32425c;
  border-bottom: 5px solid #293449;
}

.main-nav-link {
  flex-grow: 1;
  padding: 18px 28px;

  font-size: 17px;
  line-height: 17px;
  color: #fff;

  outline: none;
}

.main-nav-link:hover,
.main-nav-link:focus {
  background-color: #293449;
}

.main-nav-link:active {
  background-color: #1d2739;
  box-shadow: 0 5px #1d2739;
}

/** Основной контент **/
.main-content {
  margin-bottom: 85px;
}

.inner-page .main-content {
  margin-bottom: 0;
}

/* Секции категории */
.category {
  margin-bottom: 53px;
}

.category-top {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.category-item {
  width: 300px;
  margin-right: 20px;
  padding-top: 22px;
  padding-left: 23px;
  padding-right: 100px;
  padding-bottom: 21px;

  background-repeat: no-repeat;
}

.category-item:last-child {
  margin-right: 0;
}

.category-item.new {
  position: relative;
  overflow: hidden;
}

.category-item.new::before {
  position: absolute;
  top: 6px;
  right: -22px;

  width: 83px;
  height: 28px;
  padding-top: 6px;

  font-size: 16px;
  line-height: 1;
  color: #fff;
  text-align: center;

  background-color: #ff5357;

  transform: rotate(45deg);
  content: "new";
}

.category-item.yellow-color {
  background-color: #ffbf47;
  background-image: url("../img/icon-material.svg");
  background-position: 213px 32px;
}

.category-item.blue-color {
  background-color: #3bbce3;
  background-image: url("../img/icon-tool.svg");
  background-position: 197px 34px;
}

.category-item.pink-color {
  background-color: #dc91d8;
  background-image: url("../img/icon-tech.svg");
  background-position: 191px 31px;
}

.category-item.green-color {
  background-color: #8ed78f;
  background-image: url("../img/icon-basket.svg");
  background-position: 196px 27px;
}

.category-item.yellow-color.delivery {
  background-color: #ffbf47;
  background-image: url("../img/icon-delivery.svg");
  background-position: 191px 33px;
}

.category-item .title {
  margin: 0;
  margin-bottom: 12px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #fff;
  text-transform: capitalize;
}

.category-button {
  display: inline-block;
  width: 135px;
  margin-left: 2px;
  padding: 10px 20px;

  font-size: 14px;
  line-height: 18px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  vertical-align: top;

  background-color: rgba(0, 0, 0, .1);
  border-radius: 3px;

  outline: none;
}

.category-button:hover,
.category-button:focus {
  background-color: rgba(0, 0, 0, .2);
}

.category-button:active {
  background-color: rgba(0, 0, 0, .3);
}

/* Слайдер */
.category-bottom {
  display: flex;
}

.slider {
  position: relative;
  width: 620px;
  margin-right: 20px;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item {
  position: relative;

  display: none;

  background: rgba(0, 0, 0, .3);
}

.slider-item.active {
  display: block;
}

.slider-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 620px;
  height: 266px;
}

.slider-box {
  position: relative;
  width: 60%;
  min-height: 266px;
  padding-top: 23px;
  padding-bottom: 20px;
  padding-left: 26px;

  color: #fff;
}

.slider-title {
  margin: 0;
  margin-bottom: 2px;

  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.slider-desc {
  margin: 0;

  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;

  overflow: hidden;
}

.slider-button {
  position: absolute;
  bottom: 21px;

  display: inline-block;
  padding: 10px 0;
  padding-left: 49px;
  padding-right: 45px;

  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  vertical-align: top;

  background-color: #ee3643;
  border-radius: 3px;
}

.slider-button:hover,
.slider-button:focus {
  background-color: #ca2c37;
}

.slider-button:active {
  background-color: #ba2732;
}

.slider-controls {
  position: absolute;
  bottom: 36px;
  right: 295px;

  display: flex;
  margin: 0;
}

.slider-control {
  position: relative;

  display: block;
  width: 10px;
  height: 10px;
  margin-right: 10px;

  background-color: #fff;
  border-radius: 50%;

  cursor: pointer;
}

.slider-control:last-child {
  margin-right: 0;
}

.slider-control.active::before,
.slider-control:hover::before,
#slider-1:checked ~ .slider-controls .slider-control-1::before,
#slider-2:checked ~ .slider-controls .slider-control-2::before,
#slider-arrow-1:checked ~ .slider-controls .slider-control-1::before,
#slider-arrow-2:checked ~ .slider-controls .slider-control-2::before {
  position: absolute;
  left: 2px;
  top: 2px;

  width: 6px;
  height: 6px;

  background-color: #ee3643;
  border-radius: 50%;

  content: "";
}

.slider-arrow {
  position: absolute;
  top: 50%;

  width: 22px;
  height: 40px;
  margin-top: -20px;
  padding: 0;

  background-color: transparent;
  background-image: url("../img/icon-left.svg");
  background-repeat: no-repeat;

  border: none;

  cursor: pointer;
  outline: none;
}

.slider-arrow-left {
  left: 24px;
}

.slider-arrow-right {
  right: 21px;
  transform: rotate(180deg);
}

.slider-arrow:hover,
.slider-arrow:focus {
  opacity: .5;
}

.slider-arrow:active {
  opacity: .3;
}

#slider-1:checked ~ .slider-list .slider-item-1,
#slider-2:checked ~ .slider-list .slider-item-2,
#slider-arrow-1:checked ~ .slider-list .slider-item-1,
#slider-arrow-2:checked ~ .slider-list .slider-item-2 {
  display: block;
}

.category-right {
  width: 300px;
}

.category-right .category-item {
  margin-bottom: 20px;
}

.category-right .category-item:last-child {
  margin-bottom: 0;
}

/* Популярные товары */
.section-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 26px 28px;
  padding-right: 24px;

  background-color: #f9f5f0;
}

.section-head .title {
  margin: 0;

  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;
}

.button {
  display: inline-block;
  min-width: 253px;
  padding: 10px 53px;

  font-size: 14px;
  line-height: 18px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  vertical-align: top;

  background-color: #ee3643;
  border-radius: 3px;
  border: none;
  outline: none;

  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.popular {
  margin-bottom: 20px;
}

.popular-content {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.product-wrapper-right .popular-content {
  width: 700px;
  margin-bottom: 54px;
}

.popular-item {
  align-self: flex-start;
  position: relative;

  width: 220px;
  margin-bottom: 20px;
  margin-right: 20px;

  border: 1px solid #eaeaea;
}

.popular .popular-item:nth-child(4n),
.product-wrapper-right .popular-item:nth-child(3n){
  margin-right: 0;
}

.popular .popular-item:nth-last-child(-n+4),
.product-wrapper-right .popular-item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.popular-item:hover,
.popular-item:focus {
  box-shadow: 0 15px 25px rgba(41, 52, 73, .5);
}

.popular-item.new {
  overflow: hidden;
}

.popular-item.new::before {
  position: absolute;
  top: 4px;
  right: -22px;
  z-index: 2;

  width: 83px;
  height: 28px;
  padding-top: 6px;

  font-size: 16px;
  line-height: 1;
  color: #fff;
  text-align: center;

  background-color: #ff5357;

  transform: rotate(45deg);
  content: "new";
}

.popular-head {
  position: relative;
  height: 177px;
}

.popular-img {
  width: 218px;
  height: 170px;
}

.popular-action {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  display: none;
  width: 218px;
  height: 170px;
  margin: 0;
  padding: 42px 41px;

  background-color: #fff;
}

.popular-item:hover .popular-action {
  display: block;
}

.popular-action .add-cart,
.popular-action .add-bookmark {
  display: block;
  width: 100%;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;

  border-radius: 3px;
}

.popular-action .add-cart {
  position: relative;

  margin-bottom: 9px;
  padding: 11px 0 7px 3px;

  color: #fff;

  background-color: #63a63e;
  box-shadow: 0 3px #367315;
}

.popular-action .add-cart::before {
  position: absolute;
  left: 12px;
  top: 12px;

  width: 15px;
  height: 15px;

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;

  opacity: .3;
  content: "";
}

.popular-action .add-cart:hover,
.popular-action .add-cart:focus {
  background-color: #5fbb2d;
}

.popular-action .add-cart:active {
  background-color: #518534;
  box-shadow: 0 3px #518534;
}

.popular-action .add-cart:hover::before,
.popular-action .add-cart:active::before {
  opacity: 1;
}

.popular-action .add-bookmark {
  padding: 8px;

  color: #32425c;

  background-color: #fff;
  border: 3px solid #63a63e;
}

.popular-action .add-bookmark:hover,
.popular-action .add-bookmark:focus {
  border-color: #32425c;
}

.popular-action .add-bookmark:active {
  opacity: .3;
}

.popular-price {
  display: block;
  padding: 0 30px 20px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #000;
}

.popular-price .title {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #000;
  text-align: center;
  text-transform: capitalize;

  background-color: transparent;
}

.popular-price .old-price,
.popular-price .new-price {
  display: block;
  text-align: center;
}

.popular-price .old-price {
  min-height: 18px;
  margin-bottom: 10px;

  color: #a9a9a9;
  text-decoration: line-through;
  white-space: nowrap;
  text-overflow: ellipsis;

  overflow: hidden;
}

.popular-price .new-price {
  position: relative;

  width: 140px;
  height: 38px;
  margin: 0 auto;
  margin-left: 12px;
  padding: 10px 24px;
  padding-right: 25px;

  color: #fff;
  white-space: nowrap;
  text-overflow: ellipsis;

  background-color: #ee3643;
  border-radius: 3px;

  overflow: hidden;
}

.popular-price .new-price::after {
  position: absolute;
  top: 0;
  right: -20px;

  width: 0;
  height: 0;

  border: 20px solid #fff;
  border-left-color: #ee3643;

  content: "";
}

/* Бренды */
.brand {
  margin-bottom: 85px;
}

.brand-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.brand-item {
  width: 220px;
  height: 145px;
  margin-right: 20px;
  margin-bottom: 20px;

  border: 1px solid #eaeaea;
}

.brand-item:nth-child(4n) {
  margin-right: 0;
}

.brand-item:nth-last-child(-n+4) {
  margin-bottom: 0;
}

.brand-link {
  position: relative;

  display: block;
  height: 100%;

  color: #000;
  background-color: #fff;
}

.brand-link:hover,
.brand-link:focus {
  box-shadow: 0 10px 20px rgba(41, 52, 73, .5);
}

.brand-link:active {
  box-shadow: 0 5px 8px rgba(41, 52, 73, .3);
}

.brand-link:active .brand-img {
  opacity: 0.3;
}

.brand-img {
  position: relative;
  top: 50%;
  left: 50%;

  max-width: 204px;
  max-height: 96px;

  transform: translate(-50%, -50%);
}

/* Сервисы */
.service {
  margin-bottom: 79px;
  padding: 65px 0 33px;
  background-color: #f4f8f9;
}

.service .paragraph {
  position: relative;
  z-index: 1;

  width: 405px;
  margin-bottom: 25px;
}

.service-menu,
.service-content {
  margin: 0;
  padding: 0;

  list-style: none;
}

.service-box {
  display: flex;
  align-items: flex-start;
  min-height: 295px;
}

.service-menu {
  position: relative;

  width: 240px;
  padding: 45px 0;
}

.service-menu::after {
  position: absolute;
  right: 0;
  top: 0;

  width: 10px;
  height: 279px;

  background-image: url("../img/shadow.png");
  background-repeat: no-repeat;

  content: "";
}

.service-menu-item {}

.service-menu-link {
  display: block;
  padding: 13px 22px 16px;

  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: #fff;
  background-color: #32425c;

  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449;

  cursor: pointer;
}

.service-menu-link:hover,
.service-menu-link:focus {
  background-color: #293449;
}

.service-menu-link:active,
.service-menu-link.active,
#service-1:checked ~ .service-menu .service-menu-link-1,
#service-2:checked ~ .service-menu .service-menu-link-2,
#service-3:checked ~ .service-menu .service-menu-link-3 {
  color: #32425c;

  border-color: transparent;
  background-color: #fff;
}

.service-content {
  width: 620px;
  margin-left: auto;
  padding: 43px 0;
}

.service-content-item {
  position: relative;
  display: none;
}

.service-content-item.active,
#service-1:checked ~ .service-content .service-content-item-1,
#service-2:checked ~ .service-content .service-content-item-2,
#service-3:checked ~ .service-content .service-content-item-3 {
  display: block;
}

.service-content-item.delivery::after,
.service-content-item.warranty::after,
.service-content-item.credit::after {
  position: absolute;
  top: 0;
  right: 0;

  background-repeat: no-repeat;

  content: "";
}

.service-content-item.delivery::after {
  top: 25px;

  width: 468px;
  height: 261px;

  background-image: url("../img/delivery.png");
}

.service-content-item.warranty::after {
  top: 4px;
  right: -8px;

  width: 389px;
  height: 283px;

  background-image: url("../img/warranty.png");
}

.service-content-item.credit::after {
  right: -10px;

  width: 465px;
  height: 285px;

  background-image: url("../img/credit.png");
}

.service-content-title {
  margin: 0;
  margin-bottom: 25px;

  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;
}

.service-button {
  min-width: auto;
  padding-left: 45px;
  padding-right: 45px;

  background-color: #ff5357;
}

/* О компании */
.flex-container {
  display: flex;
}

.about-left {
  width: 540px;
}

.about-left .button {
  min-width: auto;
  padding: 10px 40px;
}

.about-right {
  width: 300px;
  margin-left: auto;
}

.about-button {
  min-width: 100%;
  padding: 10px 40px;
}

.about .paragraph + .paragraph {
  margin: 23px 0;
}

.about-list {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;

  list-style: none;
}

.about-item {
  position: relative;

  margin-bottom: 20px;
  padding-left: 37px;

  font-size: 18px;
  line-height: 20px;
}

.about-item:last-child {
  margin-bottom: 0;
}

.about-item::before {
  position: absolute;
  top: 8px;
  left: 0;

  width: 25px;
  height: 2px;

  background-color: #ee3643;
  
  content: "";
}

.about-map {
  display: block;
  width: 300px;
  height: 158px;
  margin-top: 31px;
  margin-bottom: 40px;

  background-color: #ccc;
}

/* Подвал */
.main-footer {
  color: #fff;
  background-color: #32425c;
}

.main-footer-top {
  display: flex;
  margin-bottom: 32px;
}

.main-footer-top .logo {
  height: auto;
  padding-top: 21px;
  padding-bottom: 21px;
}

.main-footer-top .logo-img {
  width: 138px;
  height: 23px;
}

.footer-nav {
  display: flex;
  flex-wrap: wrap;
  max-width: 560px;
  margin: 0;
  padding: 0;
  margin-top: 39px;
  margin-left: auto;

  list-style: none;
}

.footer-nav-item {
  margin-right: 59px;
}

.footer-nav-item:last-child {
  margin-right: 0;
}

.footer-nav-link {
  color: #fff;
}

.footer-nav-link:hover,
.footer-nav-link:focus {
  text-decoration: underline;
}

.footer-nav-link:active {
  text-decoration: none;
  opacity: .5;
}

.main-footer-middle {
  display: flex;
  margin-bottom: 50px;
}

.main-footer-middle .address {
  width: 340px;
  margin-left: 4px;

  font-style: normal;
}

.main-footer-middle .footer-nav {
  margin-top: 0;
}

.main-footer-middle .footer-nav-item {
  margin-right: 56px;
}

.main-footer-middle .footer-nav-item:last-child {
  margin-right: 0;
}

.main-footer-middle .footer-nav-link {
  color: #ffd180;
}

.main-footer-bottom {
  padding: 36px 0;
  background-color: #293449;
}

.main-footer-bottom .copyright {
  width: 240px;
  margin: 0;
  margin-right: 150px;

  font-size: 16px;
  line-height: 18px;
}

.social {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-footer-bottom .social {
  max-width: 155px;
  margin-top: -2px;
}

.social-item {
  margin-right: 4px;
  margin-bottom: 10px;
}

.social-item:last-child {
  margin-right: 0;
}

.social-link {
  position: relative;

  display: block;
  width: 41px;
  height: 41px;

  background-color: #212a3a;
  border-radius: 50%;

  color: #fff;
}

.social-link:hover,
.social-link:focus {
  background-color: #ee3643;
}

.social-link.vk::before,
.social-link.fb::before,
.social-link.ins::before {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  content: "";
}

.social-link.vk::before {
  width: 26px;
  height: 15px;

  background-image: url("../img/vk-icon.svg");
}

.social-link.fb::before {
  width: 12px;
  height: 22px;

  background-image: url("../img/fb-icon.svg");
}

.social-link.ins::before {
  width: 21px;
  height: 21px;

  background-image: url("../img/insta-icon.svg");
}

.main-footer-bottom .feedback {
  display: flex;
  width: 300px;
  margin: 0;
  padding: 0;
  margin-left: auto;

  font-size: 16px;
  line-height: 18px;

  list-style: none;
}

.main-footer-bottom .feedback-item {
  margin-right: 53px;
}

.main-footer-bottom .feedback-item:last-child {
  margin-right: 0;
}

.main-footer-bottom .feedback-link {
  color: #ffd180;
}

.main-footer-bottom .feedback-link:hover,
.main-footer-bottom .feedback-link:focus {
  text-decoration: underline;
}

.main-footer-bottom .feedback-link:active {
  color: #ee3643;
  text-decoration: none;
}

/* Хлебные крошки */
.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  list-style: none;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 40px;
}

.breadcrumbs-item:last-child {
  margin-right: 0;
}

.breadcrumbs-item::before {
  position: absolute;
  top: 5px;
  right: -24px;

  width: 8px;
  height: 12px;

  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;

  content: "";
}

.breadcrumbs-item:first-child::before {
  right: -20px;
}

.breadcrumbs-item:last-child::before {
  display: none;
}

.breadcrumbs-link {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000;
  text-transform: uppercase;
}

.breadcrumbs-link[href]:hover,
.breadcrumbs-link[href]:focus {
  text-decoration: underline;
}

.breadcrumbs-link:hover polygon,
.breadcrumbs-link:hover path {
  fill: #ee3643;
}

/* Каталог продуктов */
/* Фильтр */
.filter {
  width: 220px;
  margin-right: 20px;
}

.filter .title {
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
}

.filter-title {
  width: 100%;
  margin: 0;
  margin-bottom: 11px;
  padding: 10px 18px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 18px;
  color: #000;

  background-color: #f7f3ec;
  border-radius: 3px;
}

.filter-form {
  width: 100%;
}

.filter-feature {
  margin: 0;
  margin-bottom: 17px;
  padding: 0;
  padding-bottom: 2px;

  border: none;
  border-bottom: 1px solid #e5e5e5;
}

.filter-feature:first-child {
  margin-bottom: 16px;
  padding-bottom: 27px;
}

.filter-feature:nth-last-child(-n+2) {
  margin-bottom: 55px;
  border: none;
}

.filter-subtitle {
  margin-bottom: 14px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
}

.range {
  position: relative;

  height: 80px;
  margin-bottom: 10px;

  background-color: #f7f3ec;
  border-top: 1px solid transparent;
  border-radius: 3px;
}

.range-scale {
  height: 2px;
  margin: 39px 20px 0;

  background-color: #d7dcde;
}

.range-bar {
  width: 85%;
  height: 2px;
  background-color: #00ca74;
}

.range-toggle {
  position: absolute;
  top: 30px;

  width: 20px;
  height: 20px;
  padding: 0;

  background-color: #ababab;
  border: 8px solid #fff;
  border-radius: 50%;
  box-shadow: 0 2px #e0ddd8;
  
  cursor: pointer;
}

.range-toggle-min {
  left: 20px;
}

.range-toggle-max {
  right: 40px;
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-cost,
.price-input {
  width: 95px;
}

.price-input {
  padding: 9px 10px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #000;
  font-weight: 400;
  text-align: center;

  background-color: #f7f3ec;
  border: none;
  border-radius: 3px;
}

.filter-item {
  margin: 0;
  margin-bottom: 16px;
}

.filter-label {
  padding-left: 35px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.filter-button {
  padding: 10px 38px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #000;
  text-transform: uppercase;

  background-color: transparent;
  border: 1px solid #e5e5e5;
  border-radius: 3px;

  cursor: pointer;
}

/* Checkbox, radio */
.checkbox,
.radio {
  position: relative;
  cursor: pointer;
}

.checkbox-img,
.radio-img {
  position: absolute;
  top: -3px;
  left: 0;

  fill: #c5c5c5;
}

.checkbox:hover .checkbox-img,
.radio:hover .radio-img,
.checkbox-input:focus + .checkbox-img,
.radio-input:focus + .radio-img {
  fill: #b5b5b5;
}

.checkbox-off,
.checkbox-on,
.radio-off,
.radio-on {
  display: none;
}

.checkbox-input + .checkbox-img .checkbox-off,
.checkbox-input:checked + .checkbox-img .checkbox-on,
.radio-input + .radio-img .radio-off,
.radio-input:checked + .radio-img .radio-on {
  display: block;
}

.checkbox-input:disabled ~ *,
.radio-input:disabled ~ * {
  cursor: not-allowed;
}

.checkbox-input:disabled + .checkbox-img,
.radio-input:disabled + .radio-img {
  opacity: .3;
}

.checkbox-input:disabled ~ .filter-label,
.radio-input:disabled ~ .filter-label {
  opacity: .4;
}

.product {}

.product-title {
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
  padding: 28px;

  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;

  background-color: #f2f6f8;
}

.product-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.product-about {
  padding: 64px 0 55px;
  color: #000;
  background-color: #f2f6f8;
}

.product-about-title {
  margin: 0;
  margin-bottom: 26px;

  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.product-about-text {
  margin: 13px 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  white-space: pre-line;
}

.sort {
  display: flex;
  align-items: center;
  width: 700px;
  margin-bottom: 20px;
  padding: 10px 18px;

  font-family: "PT Sans", Arial, sans-serif;

  background-color: #f7f3ec;
  border-radius: 3px;
}

.sort-title {
  margin: 0;

  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 18px;
  color: #000;
}

.sort-list,
.sort-list-right {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

.sort-list {
  max-width: 445px;
  margin-left: auto;
}

.sort-list-right {
  max-width: 50px;
  margin-left: 45px;
}

.sort-item {
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 18px;
  color: #000;
}

.sort-item:nth-child(1n) {
  margin-right: 70px;
}

.sort-item:nth-child(2n) {
  margin-right: 66px;
}

.sort-item:nth-child(3n) {
  margin-right: 46px;
}

.sort-item:last-child {
  margin-right: 0;
}

.sort-list-right .sort-item {
  margin-right: 15px;
}

.sort-list-right .sort-item:nth-child(2n) {
  margin-right: 0;
}

.sort-link {
  color: rgba(0, 0, 0, .3);
  border-bottom: 1px dotted #ee3643;
}

.sort-link:hover,
.sort-link:focus {
  color: #000;
  border-bottom-style: solid;
}

.sort-link:active,
.sort-link.active {
  color: #ee3643;
  border-bottom-style: none;
}

.sort-link.up,
.sort-link.down {
  position: relative;

  display: block;
  width: 14px;
  height: 19px;

  border-bottom-color: transparent;
}

.sort-link.up::before,
.sort-link.down::before {
  position: absolute;

  width: 0;
  height: 0;

  border: 6px solid transparent;

  content: "";
}

.sort-link.up::before {
  top: -1px;
  left: 0;

  border-bottom: 10px solid #c5c5c5;
}

.sort-link.down::before {
  top: 5px;
  left: 3px;

  border-top: 10px solid #c5c5c5;
}

.sort-link.up:hover::before,
.sort-link.up:focus::before {
  border-bottom-color: #000;
}

.sort-link.up:active::before,
.sort-link.up.active::before {
  border-bottom-color: #ee3643;
}

.sort-link.down:hover::before,
.sort-link.down:focus::before {
  border-top-color: #000;
}

.sort-link.down:active::before,
.sort-link.down.active::before{
  border-top-color: #ee3643;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination-item {
  margin-right: 9px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-link {
  display: block;
  padding: 10px 15px;

  color: #000;

  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.pagination-link.long {
  padding-left: 30px;
  padding-right: 30px;
}

.pagination-link[href]:hover,
.pagination-link[href]:focus {
  border-color: #bdc6ca;
}

.pagination-link[href]:active {
  border-color: #ee3643;
}

.pagination-link.active {
  color: #fff;
  background: #ee3643;
}

/* Модальное окно */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: none;

  background-color: rgba(255, 255, 255, 0.3);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;

  display: none;

  background-color: #fff;

  box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
}

.modal-show {
  display: block;

  animation-name: bounceInRight;
  animation-duration: 0.6s;
}

.modal-contact {
  width: 620px;
  margin-top: -223px;
  margin-left: -310px;
  padding-top: 44px;

  border-top: 7px solid #ff5358;
}

.modal-map {
  width: 940px;
  height: 446px;
  margin-top: -190px;
  margin-left: -470px;
}

.modal-map-item {
  position: relative;

  height: 446px;
  margin: 0;
}

.modal-map-img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.modal-success {
  width: 620px;
  height: 282px;
  margin-left: -310px;
  margin-top: -141px;

  border-top: 7px solid #ee3643;
}

.modal-success-top {
  display: flex;
  padding: 66px 83px;
}

.modal-success-title {
  position: relative;

  margin: 0;
  padding-left: 98px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
}

.modal-success-title::before {
  position: absolute;
  top: -17px;
  left: -2px;

  width: 66px;
  height: 66px;

  background-image: url("../img/success.svg");
  background-repeat: no-repeat;

  content: "";
}

.modal-success-bottom {
  background-color: #f4f4f4;
}

.modal-success-button {
  display: flex;
  margin: 0;
  padding: 38px 80px;
}

.success-button {
  width: 220px;
  padding: 10px;

  font-size: 14px;
  line-height: 18px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;

  border-radius: 3px;
  border: none;
  outline: none;

  cursor: pointer;
}

.success-button-left {
  margin-right: 20px;

  color: #fff;
  background-color: #ee3643;
}

.success-button-left:hover,
.success-button-left:focus {
  background-color: #ca2c37;
}

.success-button-left:active {
  background-color: #ba2732;
}

.success-button-right {
  color: #000;
  background-color: #fff;
}

.form-contact-box {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 80px;
  padding-right: 80px;
}

.form-contact > .form-contact-box {
  margin-bottom: 30px;
}

.form-contact-item {
  width: 220px;
  margin: 0;
  margin-bottom: 22px;
}

.form-contact-item:last-child {
  margin-bottom: 0;
}

.form-contact-item:first-child {
  margin-right: 20px;
}

.form-contact-item.wide {
  width: 100%;
}

.form-contact-title {
  display: inline-block;
  margin-bottom: 10px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  color: #000;
  vertical-align: top;
}

.form-contact-input,
.form-contact-textarea {
  width: 100%;
  padding: 8px 14px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #000;

  border: 2px solid #dee3e4;
  border-radius: 3px;
}

.form-contact-input::placeholder,
.form-contact-textarea::placeholder {
  color: #a9a9a9;
}

.form-contact-input:hover,
.form-contact-textarea:hover {
  border-color: #b5b5b5;
}

.form-contact-input:focus,
.form-contact-textarea:focus {
  border-color: #ee3643;
  outline: none;
}

.form-contact-input.error,
.form-contact-textarea.error {
  border-color: #ee3643;

  animation-name: shake;
  animation-duration: 0.6s;
}

.form-contact-textarea {
  height: 114px;
}

.form-contact-button {
  background-color: #f4f4f4;
}

.form-contact-button .form-contact-box {
  padding-top: 37px;
  padding-bottom: 37px;
}

.contact-button {
  width: 100%;
}

.modal-close {
  position: absolute;
  top: 6px;
  right: 6px;
  z-index: 11;

  width: 27px;
  height: 27px;
  padding: 0;

  background-color: transparent;
  border: none;

  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 100%;
  height: 5px;
  margin-left: -13px;
  margin-top: -2px;

  background: #ee3643;
  border-radius: 3px;

  transform: rotate(45deg);
  content: "";
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-map ymaps {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
}

@keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}
